
@{
    ViewBag.Title = "Thanks";
}


<h2 class="text-center mt-3">GRAZIE PER SCELTO LA PIZZERIA IN FORNO</h2>
<h3 class="text-center mt-3">Il vostro ordine sara con voi tra 30 minuti</h3>
<div class="d-flex justify-content-center">
    @Html.ActionLink("Torna al menu", "Menu", "Goods", new { area = "" }, new { @class = "btn btn-danger mt-3" })
</div>


